:root{
    --txt: #fff;
}

*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

}

body{
    display: flex;
}

/* Working on the left hand side*/

/* Box to wrap the entire left hand side*/
.left-box{
    position: relative;
    width: 35vw;
    height: 100vh;
    color: var(--txt);
    flex-shrink: 0;
}

/* Container for left hand side background image*/
.container-left{
    background-color: rgb(36, 35, 35);
    display: flex;
    background-image: url("./img/Work\ anniversary-rafiki.svg");
    background-size: contain;
    background-position: center;
    width: 35vw;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    image-rendering: auto;
}

/* Container for div image*/
.logo{
    position: absolute;
    display: flex;
    right: 0vh;
    left: 0vh;
    height: 10vh;
    top: 5vh;
    gap: 1vh;
    justify-content:center;
    align-items: center;

    img {
        width: 150px;
        height: auto;
    }

}


/*Working on the Right Side*/
.right-box{
    color: #ffffff;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    flex: 1;
    height: 100vh;
}

.title{
    padding-top: 20px;
    text-align: center;
}

.paragraph{
    height: 160px;
    text-align: left;
    padding: 2em;
}

.form-header{
    padding: 2em;
    padding-top: 3em;
}

.form-area{
    background-color:#161515;
    box-shadow: 0 10px 20px -2px #827137;
    display: flex;
    flex-flow: row wrap;
    padding: 2rem;
    gap: 20px;
}

.input{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
}

input:focus{
    color: #000000;
    border-radius: 8px;
}

input:invalid {
    border: 2px solid #827137;
    border-radius: 8px;
    color: red;
}
  
input:valid {
    border: 2px solid greenyellow;
    border-radius: 8px;
}
  

.button-area{
    padding: 2em;
}

.log-in{
    display: flex;
    gap: 10px;
    padding: 2em;
}